@model DatabaseProvider.NewClassForUI.ProfileUI

@{
    ViewBag.Title = "_Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/_Profile.css" rel="stylesheet" />

<div id="profile">
    <div id="profileLeft">
        <div style="height: 70px;">
            <div style="width: 20%; float: left;">
                <img src="../Images/UIDesign/duck.jpg" width="100%" style="border-radius: 50%;" />
            </div>
            <div style="float: left; height: 50%; width: 80%; font-size: 20px;">Tài khoản của</div>
            <div style="float: left; height: 50%; width: 80%; font-size: 20px;"><b>@Model.customer.CustomerName</b></div>
        </div>
        <div>
            <div style="width: 20%; height: 35px; display: flex; justify-content: center; float: left;">
                <img class="far fa-user-circle fa-2x" width="30" height="30" />
            </div>
            <div style="height: 35px; display: flex; align-items: center;">Thông tin tài khoản</div>
        </div>
        <div>
            <div style="width: 20%; height: 35px; display: flex; justify-content: center; float: left;">
                <img class="fas fa-bell fa-2x" width="30" height="30" />
            </div>
            <div style="height: 35px; display: flex; align-items: center;">Thông báo của tôi</div>
        </div>
        <div>
            <div style="width: 20%; height: 35px; display: flex; justify-content: center; float: left;">
                <img class="fas fa-tasks fa-2x" width="30" height="30" />
            </div>
            <div style="height: 35px; display: flex; align-items: center;">Quản lí đơn hàng</div>
        </div>
        <div>
            <div style="width: 20%; height: 35px; display: flex; justify-content: center; float: left;">
                <img class="fas fa-shopping-cart fa-2x" width="30" height="30" />
            </div>
            <div style="height: 35px; display: flex; align-items: center;">Giỏ hàng của tôi</div>
        </div>
        <div>
            <div style="width: 20%; height: 35px; display: flex; justify-content: center; float: left;">
                <img class="fas fa-adjust fa-2x" width="30" height="30" />
            </div>
            <div style="height: 35px; display: flex; align-items: center;">Sản phẩm yêu thích</div>
        </div>
        <div>
            <div style="width: 20%; height: 35px; display: flex; justify-content: center; float: left;">
                <img class="fas fa-star fa-2x" width="30" height="30" />
            </div>
            <div style="height: 35px; display: flex; align-items: center;">Đánh giá của tôi</div>
        </div>
    </div>
    <div id="profileRight">
        <p style="background-color: white; text-align: left; color: green; font-size: 20px; font-weight: bold;">THÔNG TIN CÁ NHÂN</p>
        <table id="tableInfor" style="background-color: darkseagreen;">
            <tr>
                <td colspan="2" style="color: green;">Thông tin cá nhân:</td>
                <td colspan="2" style="color: green;">Số điện thoại và Email</td>
            </tr>
            <tr>
                <td>Họ và tên:</td>
                <th>@Model.customer.CustomerName</th>
                <td><img class="fas fa-phone fa-1x" /> Số điện thoại:</td>
                <th>@Model.customer.CustomerPhone</th>
            </tr>
            <tr>
                <td>Nickname:</td>
                <th>@Model.customer.UserName</th>
                <td><img class="fas fa-envelope fa-1x" /> Email:</td>
                <th>@Model.customer.CustomerEmail</th>
            </tr>
            <tr>
                <td>Ngày sinh: </td>
                <th>15/03/2021</th>
                <td><img class="fas fa-home fa-1x" /> Địa chỉ:</td>
                <th>@Model.customer.Address</th>
            </tr>
            <tr>
                <td>Giới tính:</td>
                <th>Nữ</th>
                <td><img class="fas fa-lock fa-1x" /> Bảo mật:</td>
                <th style="display: flex; justify-content: center;"><div class="btn">Đổi mật khẩu</div></th>
            </tr>
            <tr>
                <td></td>
                <th style="display: flex; justify-content: center;"><div class="btn">Lưu thay đổi</div></th>
            </tr>
        </table>
    </div>
</div>
<p style="background-color: antiquewhite; margin: 0px; width: fit-content; background-color:darkseagreen; border-radius:5px; padding: 5px 50px; color:white; font-weight: bold;">LỊCH SỬ MUA HÀNG</p>
<table id="cartHistory">
    @foreach (var order in Model.order)
    {
        <tr>
            <th style="width: 40%; height: 20%; padding: 30px;" rowspan="5"><img class="fas fa-list-alt fa-5x" width="30" height="30" /></th>
            <td>Mã đơn hàng:</td>
            <th>@order.OrderCartID</th>
        </tr>
        <tr>
            <td>Người nhận:</td>
            <th>@order.RecipientName</th>
        </tr>
        <tr>
            <td>Địa chỉ giao hàng:</td>
            <th>@order.Address</th>
        </tr>
        <tr>
            <td>Ngày nhân:</td>
            <th>@order.ReceivedDate</th>
        </tr>
        <tr>
            <td>Hóa đơn:</td>
            <th>@order.TotalPrice</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <th><a href="#" style="color:green; text-decoration: underline;">Chi tiết đơn hàng</a></th>
        </tr>
    }
</table>