@model DatabaseProvider.NewClassForUI.DetailOrderUI
@using System.Globalization
@{
    ViewBag.Title = "DetailOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DetailOrder.css" rel="stylesheet" />

<h2>CHI TIẾT ĐƠN HÀNG</h2>
<div class="container">
    <h2>CHI TIẾT ĐƠN HÀNG</h2>
    @{CultureInfo CI = new CultureInfo("vi-VN"); }
    <table>
        <tr>
            <th></th>
            <th>Đơn hàng</th>
            <th>Tổng tiền</th>
            <th>Tiền ship</th>
            <th>Phương thức thanh toán</th>
        </tr>

        <tr>
            <th><img class="order-detail" src="../Images/UIDesign/order.png"></th>
            <th>
                <p class="order-detail">Mã đơn hàng: @Model.order.OrderID</p>
            </th>
            <th>
                @*@{string price_string = Model.order.TotalPrice.ToString("C0", CI);}*@
                <p class="order-detail">@Model.order.TotalPrice VNĐ</p>

            </th>
            <th>
                @*@{ price_string = Model.order.DeliveryCharrge.ToString("C0", CI);}*@
                <p class="order-detail">@Model.order.DeliveryCharge VNĐ</p>
            </th>
            <th>
                <p class="order-detail">@Model.order.DeliveryMethod</p>
            </th>
        </tr>
    </table>
    <table>
        <tr>
            <th>
                <p class="order-detail">Người nhận: </p>
            </th>
            <th>
                @Html.TextBoxFor(m => m.order.RecipientName, new { @class = "order-input", @readonly = "readonly" })
            </th>

        </tr>

        <tr>
            <th>
                <p class="order-detail">Số điện thoại: </p>
            </th>
            <th>
                @Html.TextBoxFor(m => m.order.Phone, new { @class = "order-input", @readonly = "readonly" })
            </th>

        </tr>


        <tr>
            <th>
                <p class="order-detail">Ngày đặt hàng: </p>
            </th>
            <th>
                @{
                    string dateString = Model.order.OrderDate.ToString("dd-MM-yyyy");}
                <input type="text" readonly value="@dateString" class="order-input"/>
            </th>

        </tr>
        

        <tr>
            <th>
                <p class="order-detail">Địa chỉ giao hàng: </p>
            </th>
            <th>
                @Html.TextBoxFor(m => m.order.Address, new { @class = "order-input", @readonly = "readonly" })
            </th>
        </tr>

        <tr>
            <th>
                <p class="order-detail">Ghi chú: </p>
            </th>
            <th>
                @Html.TextBoxFor(m => m.order.NoteForOrder, new { @class = "order-input", @readonly = "readonly" })
            </th>
        </tr>
    </table>
</div>
@foreach (var book in Model.bookDetailOrder)
{
    <table style="border-top: 2px solid green; margin-top: 20px;">
        <tr>
            <th>Sản phẩm</th>
            <th>Chi tiết</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
        </tr>
        <tr>
            <td rowspan="6" style="width: 15%">
                <img src="../Images/Book/@book.book.images" height="100%" width="100%" style="margin-left: 10%; margin-top: 20%" />
            </td>
        </tr>
        <tr>
            <td>@book.book.book.BookName</td>
        </tr>
        <tr>
            <td>@book.book.book.AuthorName</td>
        </tr>
        <tr>
            <td>Bìa cứng</td>
            <th>@book.number</th>
            <th>@book.price VNĐ</th>
            @{var tmp = book.number * book.price + 20000;}
            <th>@tmp VNĐ</th>
        </tr>
        <tr>
            <td>14 x 20.5 cm</td>
            <td></td>
            <td></td>
            @{ var tmpBID = int.Parse(book.book.book.BookID);}
            @{ if (book.rating)
                {
                    <th id="@tmpBID" class="rating" onclick="ratingUI(this)" style="background-color: orange; border-radius: 30px;">Đã đánh giá</th>
                }
                else
                {
                    <th id="@tmpBID" class="rating" onclick="ratingUI(this)" style="background-color: darkseagreen; border-radius: 30px;">Chưa đánh giá</th>
                }
            }
        </tr>
        <tr>
            <td>Tiểu thuyết trung quốc</td>
        </tr>
    </table>
}
<script>
    function ratingUI(ele) {
        var i = $(ele).attr("id");
        var tmp = "0" + i;
        var tmpLength = tmp.length;
        for (let j = 0; j < 5 - tmpLength; j++) {
            tmp = "0" + tmp;
        }
        window.location.href = '@Url.Action("Rating", "User")' + '?bid=' + tmp;
    }
</script>