
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #HomePage{
        background-color:white;
        z-index: 1;
    }
</style>
<link href="~/Content/HomePage.css" rel="stylesheet">
<body id="HomePage">
    <div>
        @Html.Partial("_PartialHeading", "Sách bán chạy")

        @Html.Partial("_PartialHomePage", ViewData["bestSellers"])
    </div>

    <div>
        @Html.Partial("_PartialHeading", "Sách nước ngoài")

        @Html.Partial("_PartialHomePage", ViewData["foreignLiteratureBooks"])
    </div>

    <div>
        @Html.Partial("_PartialHeading", "Văn học Việt Nam")

        @Html.Partial("_PartialHomePage", ViewData["vietnameseLiteratureBooks"])
    </div>

    <div>
        @Html.Partial("_PartialHeading", "Sách lịch sử")

        @Html.Partial("_PartialHomePage", ViewData["historyBooks"])
    </div>
</body>


