@model DatabaseProvider.NewClassForUI.DetailOrderUI
@using System.Globalization
@using DatabaseProvider.NewClassForUI
@{
    ViewBag.Title = "OrderConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/OrderConfirm.css" rel="stylesheet">

<div class="container">
<h2>XÁC NHẬN ĐƠN HÀNG</h2> 
@{CultureInfo CI = new CultureInfo("vi-VN"); }
    <table>
        <tr>
            <th></th>
            <th>Đơn hàng</th>
            <th>Tổng tiền</th>
            <th>Tiền ship</th>
            <th>Phương thức thanh toán</th>
        </tr>

        <tr>
            <th><img class="order-detail" src="../Images/UIDesign/order.png"></th>
            <th>
                <a href="" class ="cart-link">Chi tiết giỏ hàng</a>
            </th>
            <th>
                <p class="order-detail"> 
                    @{ var totalPrice = int.Parse(ViewBag.TotalPrice) + 20000; }
                    @totalPrice VNĐ
                </p>
            </th>
            <th>
                <p class="order-detail" style="color: red;"> 20000 VNĐ</p>
            </th>
            <th>
                <p class="order-detail" style="color: purple;">Thanh toán khi nhận hàng</p>
            </th>
        </tr>
    </table>

    <form action="/User/OrderConfirm" method="post">
        <table>
            <tr>
                <th>
                    <p class="order-detail">Người nhận: </p>
                </th>
                <th>
                    @Html.TextBoxFor(m => m.order.RecipientName, new { @Value = "", @class = "order-input" })
                </th>

            </tr>

            <tr>
                <th>
                    <p class="order-detail">Số điện thoại: </p>
                </th>
                <th>

                    @Html.TextBoxFor(m => m.order.Phone, new { @Value = "", @class = "order-input"})
                </th>

            </tr>


            <tr>
                <th>
                    <p class="order-detail">Ngày đặt hàng: </p>
                </th>
                <th>
                    @{DateTime currentDate = DateTime.Now;
                        string dateString = currentDate.ToString("dd-MM-yyyy");}
                    @Html.TextBoxFor(m => m.order.OrderDate, new { @class = "order-input", @readonly = "readonly", @Value = dateString})
                </th>

            </tr>

            <tr>
                <th>
                    <p class="order-detail">Địa chỉ giao hàng: </p>
                </th>
                <th>
                    @Html.TextBoxFor(m => m.order.Address, new { @class = "order-input" })
                </th>
            </tr>

            <tr>
                <th>
                    <p class="order-detail">Ghi chú: </p>
                </th>
                <th>
                    @Html.TextBoxFor(m => m.order.NoteForOrder, new { @class = "order-input" })
                </th>
            </tr>

            <tr>
                <th>
                    <div class="submit-button" style="background-color: red; text-align: center; color: white; align-items: center; display: flex; justify-content: center;" onclick="home_page()">Hủy</div>
                </th>
                <th>
                    <input type="submit" value="Xác nhận đơn hàng" class="submit-button">
                </th>
            </tr>
        </table>
    </form>
</div>
<script>
    function home_page() {
        window.location = '/user/homepage';
    }
</script>