@{ 
    ViewBag.Background = "../Images/UIDesign/background.jpg";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="@Request.Url.Scheme://@Request.Url.Host:44339/Scripts/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        var domain = '@Request.Url.Scheme://@Request.Url.Host:44339';
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="~/Content/Layout.css" rel="stylesheet" />
</head>
<body style="font-family:Arial">
    <div id="top">
        <div id="topLeft">
            <div><a href="#" style="text-decoration:none;">About</a></div>
            <div><a href="#" style="text-decoration:none;">FAQ</a></div>
        </div>
        <div id="topMiddle">BOOK HOUSE</div>
        <div id="topRight">
            <div id="Notification"><img class="far fa-bell" height="40" width="40" onclick="hello()" /></div>
            <div id="Cart"><img class="fas fa-shopping-cart" height="40" width="40" onclick="hello()" /></div>
            <div id="SignIn"><img src="../Images/UIDesign/duck.jpg" height="40" width="40" onclick="hello()" /></div>
        </div>
    </div>
    <div id="menu">
        <ul>
            <li>
                <a href="#">Danh mục sách</a>
                <ul>
                    <li><a href="#">Tiểu thuyết</a></li>
                    <li><a href="#">Truyện ngắn</a></li>
                    <li><a href="#">Thơ</a></li>
                    <li><a href="#">Trinh thám</a></li>
                    <li><a href="#">Truyện tranh</a></li>
                    <li><a href="#">Lịch sử</a></li>
                    <li><a href="#">Triết học</a></li>
                    <li><a href="#">Kinh tế</a></li>
                    <li><a href="#">Tâm lý học</a></li>
                    <li><a href="#">Tham khảo</a></li>
                    <li><a href="#">Viễn tưởng</a></li>
                </ul>
            </li>
            <li><a href="#">Best Seller</a></li>
            <li><a href="#">Sách mới về</a></li>
            <li><a href="#">Sách phổ biến</a></li>
            <li>
                <div class="search-box">
                    <input class="search-txt" type="text" name="" placeholder="Type of search" />
                    <a class="search-btn" href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </li>
            <li></li>
        </ul>
    </div>
    <div id="middle" >
        <div id="left">.</div>
        <div id="content">
            @RenderBody()
        </div>
        <div id="right">.</div>
        <div class="clear"></div>
    </div>
    <div id="bottom">
        @DateTime.Now.Year - Bản quyền thuộc về HKTT Team - bookhouse.com <br />
        Địa chỉ: 227 Nguyễn Văn Cừ, Phường 4, Quận 5, TPHCM <br/>
        Giấy đăng ký số 0000000000 do APCS Hồ Chí Minh cấp ngày 1/1/2001 sửa đổi lần 0 vào ngày 1/1/2001
    </div>
</body>
</html>
<script>
    function prevent_non_numerical_input(e) {
        e = e || window.event;
        var charCode = (typeof e.which == "undefined") ? e.keyCode : e.which;
        var charStr = String.fromCharCode(charCode);
        $("#ms").html();

        if (!charStr.match(/^[0-9]+$/)) {
            e.preventDefault();
            $("#ms").html('Bạn không thể nhập kí tự!');
        }
    }
</script>